.gradle
/local.properties
/.idea/gradle.xml
.DS_Store
/build
/captures
gradle.xml
app/app.iml

gradle.properties

# User-specific configurations
.idea/libraries/
.idea/dictionaries/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/inspectionProfiles/
*.iml
.idea/kotlinc.xml
.idea/caches/build_file_checksums.ser
.idea/codeStyles/Project.xml
# apk files
*.apk

*.hprof
*.directory

*/release/output.json

projectFilesBackup*/.idea/workspace.xml